.total_amount_detail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 60px;
}

.pricing-app {
 width: 80%;
 display: flex;
 align-items: center;
 justify-content: center;
}


.display_box {
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  color: #333;
  margin: 0 auto;
  padding: 55px;
  width: 100%;
}


.pricing-app .preheading {
  font-family: dosis, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0 0 10px;
  font-size: 25px;
}

.pricing-app h2 {
  font-size: 60px;
}

.right {
  margin-right: 0;
}
